

html {
  background-image: url('https://www.inquirer.com/resizer/O-X-uF_1gEScJoCU472G3GcDNMk=/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/pmn/LLDZCWORHJDVJMM5I6GSKKCYSI.jpg');
  background-size: 40em
  
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

button {
  background: #383b52;
  color: rgb(245, 245, 245);
  border-radius: 1em;
  padding: 1em 2em;
  border: 0;
  cursor: pointer;
  font-size: 18pt;
  font-family: 'Courier New', Courier, monospace;
}

.disabled {
  color: #707070;
}

.stats {
  background: #383b52;
  color: rgb(245, 245, 245);
  border-radius: 1em;
  padding: 1em 2em;
  border: 0;
  font-size: 18pt;
  font-family: 'Courier New', Courier, monospace;
}

.board-container {
  position: relative;
}

.board,
.win {
  border-radius: 1em;
  box-shadow: 0 2em 4em rgb(33 33 33 / 25%);
  background: radial-gradient(#bee7f9 0%,#853745 33%,#f6ce91 67%, #ceb5d2);
  transition: transform .5s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}

.board {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2em;
}

.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}

.card {
  position: relative;
  width: 7em;
  height: 7em;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: .5em;
  width: 100%;
  height: 100%;
  background: #282A3A;
  transition: transform .5s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 28pt;
  user-select: none;
  text-align: center;
  line-height: 3.5em;
  background: #FDF8E6;
}

.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}

.album-image{
  border-radius: 10px;
}

.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FDF8E6;
  transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
  color: #282A3A;
}

.highlight {
  color: #6f00fc;
}